.alternative {
  background-color: white;
  border-radius: 15px;
  border: 2px solid gray;
  display: flex;
  align-items: center;
  margin: 6px;
  width:100%;
}
.correct{
  border-color:greenyellow;
  color:green
}
.wrong {
  border-color: red;
  color:red;
}
.circle {
  border: 2px solid;
  border-radius: 50%;
  border-color: black;
  margin:6px;
  aspect-ratio: 1;
  width: 15px;
  height: 15px;
}
.alternative > p{
  padding-left: 10px;
}
.alternatives :hover{
  border-color: black;
}
.marked {
  border-color:black ;
}
.marked > div.circle {
  color:white;
  background-color: black;
  transition: 0.2s ease-out;
}
.buttonCheck
.button{
  margin-right: 150px;
}
.buttons{
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}