.alternative {
  background-color: white;
  border-radius: 15px;
  border: 2px solid;
  display: flex;
  align-items: center;
  margin: 6px;
  width:100%;
}
.circle {
  border: 2px solid;
  border-radius: 15px;
  border-color: black;
  margin:6px; 
}
.alternative > p{
  padding-left: 10px;
}
.alternatives :hover{
  background-color: rgb(185, 185, 185);
  color:black;
  border-color: black;
}
.button{
  margin-right: 300px;
}
.buttons{
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}